.form{
    display: flex;
    flex-direction: column;
    gap:30px;
    width:400px;
    margin: auto;
    margin-bottom: 20px;
}
.form input,button{
    padding:8px;
    border-radius: 6px;
}

.form button{
    cursor: pointer;
}